.divImg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.centrarUL{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 5em; 
}